*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(Images/bg.webp);
    background-size: cover;
    background-position: center;

}
section nav{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}
section nav .logo img{
    width: 100px;
    height: 20px;
    cursor: pointer;
    margin: 8px 0;
}
section nav ul{
    list-style: none;
}
section nav li{
    display: inline-block;
    padding: 0 10px;
}
section nav li a{
    text-decoration: none;
    color: black;
}
section nav li a:hover{
    color: #089;
}

section nav .social_icons i{
    margin: 0 5px;
    font-size: 18px;
}
section nav .social_icons i:hover{
    color: #089;
    cursor: pointer;
} 

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
}







section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}
section .main h1{
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;   
}
section .main h1 span{
    color: #089;
}
section .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
} 
section .main .main_tag .main_btn{
    background: #089;
    padding: 10px 20px;
    position: relative;
    top: 150px;
    left: 25px;
    color: #fff;
    text-decoration: none;
}
section .main .main_img img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
} 

.about{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 20px;
} 
.about .about_image img{
    width: 400px;
} 
.about .about_tag h1{
    font-size: 50px;
    position: relative;
    bottom: 35px;
    color: #089;
}
.about .about_tag p{
    line-height: 22px;
    width: 650px;
    text-align: justify;
    margin-bottom: 15px;
}

.featured_books{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}
.featured_books .featured_book_box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}
.featured_books .featured_book_box .featured_book_card{
    width: 250px;
    height: 380px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
} 
.featured_books .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px;
} 
.featured_books .featured_book_box .featured_book_card .featured_book_img img{
    width: 150px;
    height: 200px;
} 
.featured_books .featured_book_box .featured_book_card .featured_book_tag h2{
    margin: 12px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .writer{
    color: #919191;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .categories{
    color: #089;
    margin-top: 8px;
} 
.featured_books .featured_book_box .featured_book_card .featured_book_tag .f_btn{
    padding: 8px 15px;
    border: 2px solid #089;
    text-decoration: none;
    color: #fff;
    background: #089;

} 
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb{
    background: #089;
    border-radius: 10px;
} 
footer{
    width: 100%;
    background: #eaeaea;
}
footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: black;
}
footer .footer_main .tag a{
    display: block;
    color:black ;
    text-decoration: none;
    margin: 10px 0;
}
footer .footer_main .tag i{
    margin-right: 10px;
}
footer .footer_main .tag .social_link i{
    margin: 0 10px;
}

